<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="side-panel">
    <div class="it-offcanvas-area">
        <div class="itoffcanvas" id="itoffcanvasSide">
            <div class="itoffcanvas__close-btn">
                <button class="close-btn" type="button" data-sidepanel-close aria-label="Chiudi">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="itoffcanvas__logo">
                <img class="mb-15" th:src="@{/images/logo_principale.png}" alt="Logo"/>
            </div>
            <div class="itoffcanvas__text">
                <p>Formazione, Consulenza e Sviluppo.</p>
            </div>

            <div class="itoffcanvas__info">
                <h3 class="offcanva-title">Contatti</h3>
                <div class="it-info-wrapper mb-20 d-flex align-items-center">
                    <div class="itoffcanvas__info-icon"><i class="fal fa-map-marker-alt"></i></div>
                    <div class="itoffcanvas__info-address">
                        <span>Sede</span>
                        Studiodomino srl
                    </div>
                </div>
                <div class="it-info-wrapper mb-20 d-flex align-items-center">
                    <div class="itoffcanvas__info-icon"><a href="tel:+390971445096"><i class="fal fa-phone-alt"></i></a></div>
                    <div class="itoffcanvas__info-address">
                        <li><span>Telefono:</span><a href="tel:0971445096">0971 445096</a><a href="tel:366 6844615">366 6844615</a></li>
                    </div>
                </div>
                <div class="it-info-wrapper mb-20 d-flex align-items-center">
                    <div class="itoffcanvas__info-icon"><a href="mailto:info@studiodomino.com"><i class="fal fa-envelope"></i></a></div>
                    <div class="itoffcanvas__info-address">
                        <span>Email</span>
                        <a href="mailto:info@studiodomino.com">info@studiodomino.com</a>
                    </div>
                </div>
                <div class="it-info-wrapper mb-20 d-flex align-items-center">
                    <div class="itoffcanvas__info-icon"><i class="fas fa-map-marker-alt"></i></div>
                    <div class="itoffcanvas__info-address">
                        <span>Indirizzo</span>
                        Via del Gallitello, 74 | 85100 | Potenza (IT)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body-overlay" id="sidepanel-overlay"></div>
</th:block>