<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- sectionType.page3 = 'sectionCalendarioSidebar' -->
<th:block th:fragment="content">
    <section class="pt-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 pe-5 lg-pe-3 md-pe-15px md-mb-50">

                    <div th:if="${section.testo != null and !section.testo.isEmpty()}" th:utext="${section.testo}" class="mb-40"></div>

                    <div class="table-responsive" th:if="${section.hasContenuti()}">
                        <table class="table table-hover align-middle">
                            <thead>
                                <tr>
                                    <th>Corso</th>
                                    <th>Data avvio</th>
                                    <th>Sede</th>
                                    <th>Prezzo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="articolo : ${section.contenuti}">
                                    <td><a th:href="@{'/' + ${articolo.url}}" class="fw-600 border-line" th:text="${articolo.titolo}">Titolo corso</a></td>
                                    <td th:text="${articolo.dataVisualizzata}">Data</td>
                                    <td th:text="${articolo.text1}">Sede</td>
                                    <td th:text="${articolo.s5}">Prezzo</td>
                                    <td><a th:href="@{'/' + ${articolo.url}}" class="border-line">Dettagli</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="col-lg-4 ps-4 lg-ps-15px">
                    <div th:replace="~{site01/fragments/section_frag/_sidebar :: widget}"></div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>
